html {
  background-color: rgb(27, 16, 16);
}

*{
  padding: 0;
  margin: 0;
}
.App {
  height: 100%;
}

.welcomeContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@keyframes dance {
  0% { transform: translateY(0); }
  25% { transform: translateY(-20px); }
  50% { transform: translateY(0); }
  75% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}
@keyframes slide {
  0% { transform: translateX(0); }
  25% { transform: translateX(-100px); }
  50% { transform: translateX(0); }
  75% { transform: translateX(100px); }
  100% { transform: translateX(0); }
}

.welcome {
  font-size: 8em;
  font-family: 'Courier New', Courier, monospace;
  color: orange;
  margin-bottom: 10px;
  animation: dance 3s infinite;
}
.author {
  font-size: 4em;
  font-family: 'Courier New', Courier, monospace;
  color: orange;
  margin-bottom: 40px;
  animation: slide 10s infinite;
}

.button {
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 50px;
  padding: 10px 30px;
  color: black;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.button:hover {
  background-color: orange;
  color: white;
}

.start {
  font-size: 1.5em;
  border: 5px solid sandybrown;
}

#input-box {
  width: 10vh;
  height: 10vh;
  margin-left: 20px;
  border: 3px solid orange;
  border-radius: 10px;
  background-color: rgb(27, 16, 16);
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}

.guess-the-word {
  font-size: 3em;
  font-family: 'Courier New', Courier, monospace;
  color: orange;
  text-align: center;
  margin-bottom: 30px;
  animation: dance 5s infinite;
}

.submit {
  font-size: 1.5em;
  border: 5px solid sandybrown;
  margin-top: 30px;
  margin-bottom: 20px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;;
  color: white;
  margin-bottom: 20px;
  margin-right: 37px;
  margin-left: 57px;
}

.word-container {
  display: flex;
}

.win-or-lose {
  font-size: 5em;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: orange;
}

.infoContainer {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 5px solid orange;
  border-radius: 20px;
  padding: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 20px;
}

.colorInfo {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 10px;
}

.colorInfo h1 {
  margin-bottom: 10px;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(10px);
  z-index: 1; 
}

.modal {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translate(0, -50%);
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 8px solid white;
  border-radius: 10px;
}

.powerups {
  height: 50%;
  width: 50%;
}

.powerup {
  height: 90%;
  width: 30%;
  background-color: rgb(27, 16, 16);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Courier New', Courier, monospace;
}

.powerup h1 {
  margin-top: 10px;
  font-size: 30px;
}
.powerup p {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.imgPowerUp {
  width: 90%;
  height: 45%;
}

.powerup button {
  font-size: 1em;
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid orange;
  background-color: black;
  padding: 10px 30px;
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 1s ease, color 0.5s ease;
}

.powerup button:hover {
  background-color: white;
  color: black;
}

.game-over {
  height: 50%;
  width: 50%;
  flex-direction: column;
  font-size: 50px;
  text-align: center;
}

.game-over button {
  font-size: 1em;
  border: 5px solid black;
}

.hint{
  font-size: 2.5em;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-align: center;
}

.hintsContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 60px;
  margin-top: 25px;
  width: 80%;
}


@media screen and (max-width: 768px) {
  .welcomeContainer {
    font-size: 10px;
  }
  #input-box {
    width: 7vh;
    height: 7vh;
    font-size: 30px;
  }
  .infoContainer {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .result {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;;
    color: white;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 43px;
  }
  .hintsContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 100%;
  }
  .hint{
    font-size: 1.5em;
  }
  .guess-the-word {
    font-size: 2em;
    margin-bottom: 10px;
  }
  .button {
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    padding: 8px 15px;
  }
  .game-over {
    height: 25%;
    width: 80%;
    flex-direction: column;
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1263px) {
  .game-over {
    height: 35%;
    width: 60%;
    flex-direction: column;
    font-size: 30px;
  }
}
